<%= form_for(@valve) do |f| %>
  <div class="field">
    <%= f.label :mfg %><br />
    <%= f.text_field :mfg %>
  </div>
<h1>Kits#select</h1>
<p>Find me in app/views/kits/select.html.erb</p>
<%= @valve.part_number %>
