<div class="kit">
  <h3>Valve kit</h3>
  <% if @valve.length > 1 %>
    <%= render 'not_enough' %>
    <% else if @valve.length < 1 %>
      <%= render 'no_kit' %>
      <% else %>
        <%= render :partial => 'found_kit', :object => @valve %>
    <% end %>
  <% end %>
</div>
<br />